// Import page-specific CSS files here.
@import "home";
@import "signup";

@import "show";

.card-box {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  justify-content: space-evenly;
}

a:hover {
  color: black;
}
