// Import page-specific CSS files here.
@import "home";
@import "signup";

.card-box {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  justify-content: space-evenly;
}
@import "show";
