.main-container {
  display: flex;
  width: 80vw;
  margin: 15px auto;
}

.top {
  padding: 30px 0 0 0
}

.sidebar {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.info-part {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

h1,h2,h3,h4,p {
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

li {
  font-size: 25px;
}

.sidebar p {
  font-size: 20px;
}

.btn-flat {
  width: 150px;
  margin: 0 auto;
  font-size: 22px;
  border-color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: 10;
  align-items: center;
}

.button {
  font-size: 14px;
  border-radius: 5px;
  font-weight: bolder;
  align-items: center;
}

.profile-photo {
  height: 300px;
}

.photo {
  width: 100%;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}

.transactions {
  width: 80vw;
  margin: 15px auto;
}

.transaction-container {

}

.trademarks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
}

.trademark-category {
  display: flex;
  justify-content: space-between;
  border: solid thin;
  border-color: #dadada;
  border-radius: 10px;
  padding: 20px;
  // height: 150px;
  font-size: 25px;
}

.trademark-category-info {
  text-align: left;
}

.trademark-category-icons {
  display: flex;
  width: 30%
}

.participants {
  font-size: 20px;
  color: #6D6E6A;
}

p.my-0 {
  font-size: 20px;
}
