<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478479336189-2148e701dfb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3334&q=80);">
  <div class="container">
    <h1>Rent A Struggling Actor</h1>
    <br>
    <p>Solve your life's problems by hiring a struggling actor</p>
    <%= link_to "See all struggling actors", users_path, class: "btn btn-outline-light mt-5"  %>
    <!-- search bar -->
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group mt-5">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search with Actor's name or by category"/>
        <button name="button" type="Search" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>
<!-- who we are blurb -->
<!-- <div class="intro-container col-lg-12 text-center p-3">
  <h2 p-2>Who we are</h2>
  <img src="https://avatars2.githubusercontent.com/u/48684392?v=4">
  <br>
  <p m-3>Rent an Struggling Actor was an idea by Elliot Tennison whom constantly found himself caught in sticky scenarios. He thought if only he had some actors to help him break up with his girlfriend, go to jail in his place, or even just needing a dog for a day - life would be so much better. Hence this platform was created. A place for people like him and also actors who want to build up their portfolios while making some extra income on the side. All our actors are professionally trained and experienced, and they are confident improvisers with a creative and professional approach. They will stay in character and do whatever it takes to get the job done... and that's the Elliot guarantee.</p>
</div> -->
<!-- intro cards -->
<!-- card 3 -->
<div class="card-container p-5">
  <div class="card-trip">
    <img src="https://avatars2.githubusercontent.com/u/48684392?v=4" />
    <div class="card-trip-infos">
      <div>
        <h2>Who we are</h2>
        <br>
        <p>Rent an Struggling Actor was an idea by Elliot Tennison whom constantly found himself caught in sticky scenarios. He thought if only he had some actors to help him break up with his girlfriend, fake his death so he can go to SH - life would be much easier. They will stay in character and do whatever it takes to get the job done... and that's the Elliot guarantee.</p>
      </div>
    </div>
  </div>
  <!-- card 1 -->
  <div class="card-trip">
    <img src="https://feminema.files.wordpress.com/2012/10/chicken.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Are you a Aspiring Actor?</h2>
        <br>
        <p>Want to sharpen your all around acting skills while earning some cash? Our platform provides an easy and safe place for you to discover different roles in the most realistic environment possible. Acting in real life scenarios is the highest level of acting one can master. </p>
      </div>
    </div>
  </div>
  <!-- card 2 -->
  <div class="card-trip">
    <img src="https://res.cloudinary.com/dd8gqkm50/image/upload/c_crop,g_face/v1574831168/Leonardo_DiCaprio_Classic_Sunglasses_Wayfarer_vT7kMY0BmPOl_djj52a.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Do you need an Actor?</h2>
        <br>
        <p>Ever find yourself in a position that requires you to put on an elaborate show in order to get yourself out of? Or need to celebrate or prank your friends? We have a rich network of actors who will do whatever it takes to execute the perfect scene no matter what the request.</p>
      </div>
    </div>
  </div>
</div>
<!-- card 4 -->
<!-- <div class="card-trip">
    <img src="https://feminema.files.wordpress.com/2012/10/chicken.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Fully Committed Actors</h2>
        <p>Short description here!</p>
      </div>
    </div>
  </div> -->
</div>
<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Actors are people too <i class="fas fa-heart"></i>
  </div>
</div>
</body>
</html>