.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  -webkit-align-items: center;
  background: transparent;
  height: 70px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  overflow: hidden;
}

#logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}
